/*HOME Page UI Area*/
.home-section {
  padding: 60px 0;
  text-align: center;
}

.home-title {
  color: #ff5533;
  font-size: 34px;
  letter-spacing: 1px;
  margin: 12px 0;
}

.home-sub {
  color: #fff;
  max-width: 900px;
  margin: 0 auto 18px;
}

.home-logo{
   display: inline-block;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


.join_btn {
  background: #ff5533;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
}

.explore_btn {
  border: 2px solid #ff5533;
  color: #ff5533;
  padding: 8px 18px;
  border-radius: 6px;
  margin-left: 12px;
}

.features-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

.feature {
  max-width: 300px;
  text-align: left;
}

.feature h3 {
  color: #ff5533;
}
.feature p {
  color: #fff;
}