/*~~~~~~ Navbar begins ~~~~~~*/ 
.navbar 
{
    background-color: #252525;
    overflow: hidden;
}
.navbar a 
{
    float: left;
    display: block;
    color: #ff5733;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
.navbar a img
{
    height: 47px;
    width: 52px;
}
.navbar a:hover 
{
    background-color: #5a5a5a41;
    border-radius: 10px;
}
.navbar b 
{
    float:inline-start;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar .right 
{
    float: right;
    margin-top: 8px;
    margin-right: 5px;
}
.navbar .right button 
{
    margin: 8px 8px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.under
{
    margin-top: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.under:hover
{
    text-decoration: underline;
}

.login-button 
{ 
    border: 1px solid #ff5733;
    border-radius: 5px;
    background-color: transparent;
    color: #ff5733;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.login-button:hover
{
    background-color: #ff5733;
    color: white;
    border-radius: 2px;
}
.signup-button 
{
    background-color: #ff5733;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
}
.signup-button:hover 
{
    background-color: rgba(255, 255, 255, 0.936);
    color: #ff5833;
    border-radius: 2px;
}
/*~~~~~~ Navbar ends ~~~~~~*/