body {
    background-color: #252525;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
}

div {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    padding: 30px 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
    /*text-align: center;*/
    width: 400px;
    font-weight: bold;
    color: #ff5733;
}

h2 {
    color: #ff5733;
    text-shadow: 0px 0px 25px #ff735ab9;
    text-align: center;
    margin-bottom: 40px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.1);
    color: white;
}

input::placeholder {
    color: #ff603d93;
}

input[type="radio"] {
    width: auto;
    margin-right: 6px;
    accent-color: #ff5733;
}


select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.1);
    color: #ff603d93;
}

option {
    background-color: #252525;
    color: #ffffffbd;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #ff5733;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    
    background: rgba(255, 87, 51, 0.2);
    color: #ff5733;
    font-weight: bold;
    transform: scale(1.05);
}